footer {
  font-family: "Open Sans";
  margin-top: 10rem;

  background-color: #551313;
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 2% 10% 8%;
  gap: 20%;
}
.phone-icon {
  width: 1rem;
  object-fit: cover;
}
.image-hostpital {
  display: block;
  width: 100%;
}
.footer-text {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}
.footer-map {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-copyright {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 5%;
  left: 0;
  gap: 0.2rem;
  width: 100%;
}
.footer-ruler {
  width: 80%;
}
.copyright {
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 0 10%;
}

@media (max-width: 1100px) {
  .copyright {
  }
  footer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
  }
  .footer-text {
    text-align: center;
  }
  .image-hostpital {
    width: 80%;
  }
}
@media (max-width: 660px) {
  footer {
    padding: 2% 5% 35%;
  }
  .footer-text-content {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
  .footer-map {
    align-items: center;
  }
  #footer-map-title {
    font-size: 1.33rem;
    text-align: center;
  }
  #footer-text-heading {
    font-size: 1.33rem;
  }
  .copyright {
    font-size: 0.75rem;
    padding: 0 5%;
  }
}
