body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  position: relative;
}
.container-mini-nav {
  position: relative;
  padding-left: 1rem;
  align-items: center;
  display: flex;
  margin: 0;
  height: 2.5625rem;
  background-color: #7e1313;
}
.mini-nav-text {
  font-size: 0.8125rem;
  color: #fff;
}

.container-header-main {
  position: relative;
  height: 43.6875rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(182, 125, 125, 0.38) 24.5%,
    rgba(90, 90, 90, 0.06) 100%
  );
  overflow: hidden;
}
.video-introduction {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
.container-header-main-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 1.37rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.logo {
  width: 6.25rem;
}
.nav-header-main {
  padding: 0;
  margin: auto;
  width: 70%;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.nav-header-main-item {
  width: 8rem;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}
.nav-header-main-item:hover {
  transform: scale(120%);
}
.icon {
  width: 1.875rem;
  height: 1.875rem;
}
.menu-items {
  border-radius: 1.25rem;
  background: rgba(0, 0, 0, 0.7);
  list-style: none;
  position: absolute;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 40%;
  z-index: 1;
  top: 6rem;
  right: -2%;
}
.menu-item {
  display: flex;
  width: 100%;
  height: 4rem;
  color: #fff;
  align-items: center;
  padding-left: 5%;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#menu {
  position: absolute;
  width: 5rem;
  right: 5%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
#icon-menu {
  display: block;
  margin: 0;
  width: 4rem;
}
#icon-menu:hover {
  transform: scale(110%);
}
#search {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#search:hover {
  transform: scale(110%);
}
#icon-search {
  width: 3.125rem;
  height: 3.125rem;
}
.header-form-search {
  position: absolute;
  width: 40.9375rem;
  height: 3.125rem;
  border-radius: 0.3125rem;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  overflow: hidden;
  font-size: 2rem;
}
.header-input-search {
  font-size: 1.25rem;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 3.125rem;
}
.header-input-search:focus {
  outline: none;
}

.header-btn-search {
  position: absolute;
  left: 0;
  background: none;
  width: 3.125rem;
  height: 100%;
  border: none;
}
#form-search-icon {
  width: 1.25rem;
  height: 1.25rem;
}
@media (max-width: 1200px) {
  .nav-header-main {
    display: none;
  }
  .header-form-search {
    width: 80%;
  }
  #search {
    display: none;
  }
  #menu {
    display: flex;
  }
}
@media (max-width: 800px) {
  .container-header-main {
    height: 50vh;
  }
  #menu {
    width: 2rem;
  }
  .container-header-main-nav {
    margin-top: 5%;
  }
  #icon-menu {
    width: 2rem;
  }
  .logo {
    width: 4rem;
  }
  .header-form-search {
    top: 45%;
  }
  .menu-items {
    top: 4rem;
    width: 50%;
  }
  .menu-item {
    font-size: 1rem;
    padding: 0 0 0 2rem;
  }
}
@media (max-width: 450px) {
  .menu-items {
    width: 70%;
  }
}
